# Optional backend configuration only. The frontend will not show these details.
ROBOFLOW_API_KEY=
WEAPON_MODEL_ID=
FIRE_SMOKE_MODEL_ID=
HELMET_MODEL_ID=
TRAFFIC_MODEL_ID=
SEATBELT_MODEL_ID=
THEFT_MODEL_ID=

SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
